@using UniversityCommunity.Business.Session
<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span>Hoşgeldiniz</span>

    @if (SessionContext.GetInt("UserId") == 0)
    {
        <span class="mx-lg-4 mx-md-2  mx-1">
            <a href="/Authentication/Login/">
                <i class="fas fa-lock"></i> Giriş Yap
            </a>
        </span>
    }
    else
    {
        <span class="mx-lg-4 mx-md-2  mx-1">
            <a href="/Authentication/Logout">
                <i class="fas fa-lock"></i> Çıkış Yap
            </a>
        </span>
    }
</div>